.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}


.header__logo img {
    height: 100px;
    width: 100px;
    cursor: pointer;
    
}

.header__link li {
    display: inline-block;
    margin-left: 10px;
}

.header__link a {
    font-size: 25px
    
}

.header__link li:first-child {
    margin-left: 0px;
    
}

.header__social {
    display: flex;
    align-items: center;
    font-size: 25px;
}



.header__social-social li {
    display: inline-block;
    
}

.header__social-social i {
    font-size: 40px;
}



.header__social-social i:hover,
.header__link a:hover {
    color: #ff4747;
}