.main__form {
    margin-top: 25px;
    padding: 25px 0;
}

.main form input {
    background: none;
    border: 2px solid #ff4747;
    border-radius: 4px 0 0 4px;
    font-size: 25px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.main form select {
    background: none;
    font-size: 25px;
    width: 100%;
    padding: 5px;
    border: 2px solid #ff4747;
    border-radius: 4px 0 0 4px;
}

.main form input:first-child {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main form select {
    margin-top: 0px;
}



.main__plus {
    background-color: white;
    padding: 25px 0;
    margin-top: 25px;
}

.main__plus p, 
.main__plus li {
    font-size: 35px;
}

.main__plus h2 {
    font-size: 45px;
}

.main__plus ul li {
    list-style-type: decimal;
    left: 0;
}


.main__malfunction {
    margin: 30px 0;
}

.main__malfunction-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}

.main__malfunction-text p {
    font-size: 35px;
    text-align: center;
}

.main__malfunction-text div {
    display: none
}

.main__malfunction-text .active {
    display: block;
}



.main__social-icons {
    display: flex;
    justify-content: space-between;
}

.main__social-social i {
    font-size: 250px;
    transition: 0.1s;
}

.main__social-social i:hover {
    font-size: 270px;
    color:#ff4747
}

.main__social-info li {
    font-size: 40px;
    
}

.main__social-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.main__social-info li {
    padding-top: 15px;
    text-align: center;

}

.main__social-info {
    
    margin: 0 auto;
}

.main__review {
    background-color: white;
}

/* .main__examples img {
    
    min-width: 300px;
    min-height: 300px;
} */