.main__price-slider {
    background-color: white;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slider {
    position: relative;
    /* padding: 0px 60px; */
    
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
    
}

.slider .slick-arrow.slick-prev {
    left:0;
    background: url('../img/arrow-back-left-svgrepo-com.svg') 0 0 / 100% no-repeat;
   
}

.slider .slick-arrow.slick-next {
    right:0;
    background: url('../img/arrow-forward-navigation-svgrepo-com.svg') 0 0 / 100% no-repeat;
}

.slider__item p {
    font-size: 40px;
}

.slider__item h1 {
    text-align: center;
}

.slider__item {
    margin: 0 auto;
    text-align: center;
}

.slider__item-info {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 5%; */
}
.slider__item-info .avatar i {
    font-size: 150px;
    align-items: center;
    margin-top: 4px;
}

.slider__item-info .avatar h1 {
    font-size: 35px;
    margin-top: -15px;
}

.slider__item-info .info p {
    font-size: 22px;
    border-top: 4px solid;
    padding: 5px;
    max-width: 700px;
   
}

.slider__item-ba {
    display: flex;
    justify-content: space-between;
   
}

.main__examples-after {
    margin-left: 15px;
    margin-bottom: 30px;
}

.slider__item img {
    width: 600px;
    height: 600px;
    
}