
.main form input {
    background: none;
    font-size: 25px;
    width: 100%;
    margin-top: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.main form select {
    background: none;
    font-size: 25px;
    width: 100%;
    padding-left: 5px;
}

.main form input:first-child {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main form select {
    margin-top: 0px;
}

.main form button {
    background: none;
    font-size: 25px;
    cursor: pointer;
    margin-top: 10px; 
}

.main form button:hover {
    background: white;
    color: black;  
}

.main__plus p, li {
    font-size: 20px;
}

.main__plus ul li {
    list-style-type: decimal;
    left: 0;
}

